recursive-include kahypar/ *
recursive-include external_tools/ *
recursive-include cmake/ *
recursive-include tools/ *
recursive-include lib/ *
recursive-include tests/ *
recursive-include python/ *
include CMakeLists.txt
include Doxyfile.in
